<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="footer">
  <p>&copy; Made by Carlos Ferreira - 2017</p>
  <a class="logo"><%= image_tag "logo.svg" %></a>
</div>

